@font-face {
    font-family: 'AnonymousPro-Bold';
    src: url('/fonts/AnonymousPro-Bold.woff2') format('woff2'),
        url('/fonts/AnonymousPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AnonymousPro-Italic';
    src: url('/fonts/AnonymousPro-Italic.woff2') format('woff2'),
        url('/fonts/AnonymousPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('/fonts/AnonymousPro.woff2') format('woff2'),
        url('/fonts/AnonymousPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AnonymousPro-BoldItalic';
    src: url('/fonts/AnonymousPro-BoldItalic.woff2') format('woff2'),
        url('/fonts/AnonymousPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

